<Section Title="Обновление игровых данных">
    <div class="notice">Это может занять до нескольких минут. Может взиматься плата за передачу данных.</div>
    <div class="data-update">
        @ChildContent
    </div>
</Section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
