<div class="nav-menu">
    <NavItem Title="Главная страница" Link="/home" />
    <NavGroup Title="Сканеры">
        <NavItem Title="Сканер достижений" Link="/scanners/achievement" />
        <NavItem Title="Сканер персонажей" Link="/scanners/character" />
        <NavItem Title="Сканер артефактов" Link="/scanners/artifact" />
        <NavItem Title="Сканер оружия" Link="/scanners/weapon" />
    </NavGroup>
    <NavGroup Title="Экспорт">
        <NavItem Title="Paimon.moe" Link="/exports/paimonmoe" />
        <NavItem Title="Seelie.me" Link="/exports/seelieme" />
        <NavItem Title="GOOD формат" Link="/exports/good" />
    </NavGroup>
    <NavItem Title="Настройки" Link="/settings" />
</div>
